
body {
    
    background-image: url('https://img.freepik.com/free-vector/abstract-halftone-background_23-2148594392.jpg?semt=ais_hybrid'); /* Background image */
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
